 body {
     position: relative;
 }

#navbarNavDropdown {
    justify-content: end;
    background: #ffffff;
}

.img-fluid {
    /* max-width: 100%; */
    /* height: auto; */
    display: block;  
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.form-control {
    justify-content: right;
}

.two {
    /* margin: 0; */
    /* position: absolute; */
    /* top: 50%; */
    /* -ms-transform: translateY(-50%); */
    /* transform: translateY(-50%); */
}

span {
    color: #4c8bf5;
}